# Environnement virtuel
env/
venv/

# Base de données
*.sqlite3
db.sqlite3

# Fichiers Python
__pycache__/
*.pyc
*.pyo

# Fichiers de développement
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Médias uploadés (en développement)
src/media/

# Variables d'environnement
.env